.wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;

}

.container{
    display: flex;
    flex-direction: column;
    width: 65%;
    min-height: 100px;
    margin: auto;

}

.responsive{
    width: 100%;
    height: auto;
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.container p{
    font-size: large;
    padding: 20px 5px 15px 5px;
}

.container h4{
    margin-top: 15px;
}